* {
    margin: 0px;
    padding: 0px;
}

/*nav*/
#menu, #menu ul {
    list-style-type: none;
    float: left;
    width: 100%;
    background-color: #24292e;
    margin-bottom: 10px;
}

.horizontal {
    float: left;
    background-color: #24292e;
}

#menu li a {
    color: white;
    text-decoration: none;
}

#menu li ul {
    position: absolute;
    left: -999em;
}

#menu li:hover ul {
    left: auto;
}

#nav #floatright {
    float: right;
}

#menu a {
    display: block;
    text-decoration: none;
    padding: 1em 1em;
}


#menu a:hover {
    color: gray;
}

#menu ul .highlight a {
    color: #F0E68C;
}

#menu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#menu li ul li img{
    vertical-align: middle;
}

#menu #icon {
    width: 30px;
    height: 30px;
    float: left;
    padding: 10px;
}

#wrapper {
    display: flex;
    width: 100%;
    margin-top: 0px;
    flex-flow: row nowrap;
}

input {
    outline: none;
}

#main {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    background-color: #f5f5f5;
    border-radius: 15px;
    line-height: 30px;
    clear: both;
}

#main > header {
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 100px;
    margin-bottom: 20px;
}

#main > div {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
}

#main img {
    margin: 30px 30px 30px 100px;
    width:150px;
    height: 150px;
    vertical-align: middle;
    border-radius: 5px;
}

.limit_length{
    color: gray;
}

#main div header {
    font-weight: bold;
    font-size: 16px;
}

#main div div {
    margin: 30px 100px 30px 0px;
}

#main input {
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 5px 12px;
    color: gray;
    margin-right: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 20px;
}

#footer {
    text-align: center;
    padding-bottom: 20px;
}

#footer span {
    margin: 5px;
    font-size: 14px;
}

#footerall {
    color: darkgray;
    font-size: 12px;
    text-align: center;
    margin: 20px;
}